<form id="main-form">
<h2>📸 Image URLs</h2>
  <div class="btn-toolbar" role="toolbar">
    <div class = "btn-group me-2" role="group">
      <button type="button" class="btn btn-secondary" hx-trigger= "click" hx-get="{{ url_for('add_image') }}" hx-target="#main-form" hx-swap="beforeend"> Add Link </button>
    </div>
    <div class = "btn-group me-2" role="group">
      <button type="button" id="create-pdf-btn" class="btn btn-primary" hx-post="{{ url_for('create_doc') }}" hx-include="#main-form" hx-target="#form-data" hx-indicator="#loading" style="background-color: ">📃 Create PDF
      <span id="loading" class='htmx-indicator spinner-border spinner-border-sm'></span>
</button>
    </div>
    <div class = "btn-group me-2" role="group">
            <span id="download-button"></span>
    </div>
</div>
  <div id="link-list">
      {% include 'add-image.html' %}
  </div>
</form>
