<form id="main-form">
  <div class="row mb-3">
<h2>📸 Image URLs</h2>
  </div>
  <div class="row g-3 mb-2 align-items-center">
    <div class="col-auto">
  <button class="btn btn-secondary" hx-trigger= "click" hx-get="/add-image" hx-target="#main-form" hx-swap="beforeend"> Add Link </button>
    </div>
    <div class="col-auto">
  <button class="btn btn-primary" hx-post="/create" hx-include="#main-form" hx-target="#form-data" style="background-color: ">📃 Create PDF <span class='htmx-indicator'>...⌛...</span></button>
    </div>
  </div>
      {% include 'add-image.html' %}
</form>
