footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #eeeeee;
  color: #333333;
  text-align: center;
}

.card-img-top {
  object-fit: cover;
  height: 80%;
  width: 100%;
}

.card-img-top:hover {
  object-fit: contain;
}
